{%- do salt['monkeypatch.ordered_yaml']() -%}
{% load_yaml as defaults %}{% include 'reggie/defaults.yaml' with context %}{% endload %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {},
  },
  grain='os_family')
%}

{% do defaults.reggie.update(os_family_map) %}
{% set reggie = salt['pillar.get']('reggie', default=defaults.reggie, merge=True, merge_nested_lists=False) %}

{% set event_year = reggie.plugins.ubersystem.config.get('event_year', reggie.plugins.ubersystem.config.get('year')) %}
{% do reggie.plugins.ubersystem.config.update({
  'event_year': event_year,
  'year': event_year,
}) %}

{% if 'data_dir' not in reggie %}
  {% do reggie.update({'data_dir': reggie.install_dir ~ '/data'}) %}
{% endif %}

{% if 'mounted_data_dir' not in reggie %}
  {% do reggie.update({'mounted_data_dir': reggie.data_dir ~ '/mnt'}) %}
{% endif %}

{% if 'uploaded_files_dir' not in reggie.plugins.ubersystem.config.data_dirs %}
  {% do reggie.plugins.ubersystem.config.data_dirs.update({
    'uploaded_files_dir': reggie.mounted_data_dir ~ '/uploaded_files'
  }) %}
{% endif %}

{% if 'beat_schedule_filename' not in reggie.plugins.ubersystem.config.celery %}
  {% do reggie.plugins.ubersystem.config.celery.update({
    'beat_schedule_filename': reggie.data_dir ~ '/celerybeat-schedule.db'
  }) %}
{% endif %}

{% if 'sqlalchemy_url' not in reggie.plugins.ubersystem.config.secret %}
  {% do reggie.plugins.ubersystem.config.secret.update({
    'sqlalchemy_url': reggie.db.dialect ~
      ('+' ~ reggie.db.driver if reggie.db.driver else '') ~ '://' ~
      reggie.db.username ~ ':' ~
      reggie.db.password ~ '@' ~
      reggie.db.host ~ ':' ~
      reggie.db.port ~ '/' ~
      reggie.db.name
  }) %}
{% endif %}

{% if 'broker_url' not in reggie.plugins.ubersystem.config.secret %}
  {% do reggie.plugins.ubersystem.config.secret.update({
    'broker_url': reggie.queue.dialect ~
      ('+' ~ reggie.queue.driver if reggie.queue.driver else '') ~ '://' ~
      reggie.queue.username ~ ':' ~
      reggie.queue.password ~ '@' ~
      reggie.queue.host ~ ':' ~
      reggie.queue.port ~ '/' ~
      reggie.queue.vhost
  }) %}
{% endif %}

{% for key, value in reggie.sessions.items() %}
  {% set config_key = 'tools.sessions.' ~ key %}
  {% if config_key not in reggie.sideboard.config.cherrypy %}
    {% do reggie.sideboard.config.cherrypy.update({ config_key: value }) %}
  {% endif %}
{% endfor %}
