{% import_yaml 'reggie/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {},
  },
  grain='os_family',
  merge=salt['pillar.get']('reggie'))
%}

{% do defaults.reggie.update(os_family_map) %}

{% set reggie = salt['pillar.get'](
  'reggie',
  default=defaults.reggie,
  merge=True)
%}
